@font-face {
    font-family: 'Cherish';
    src: url('Cherish-Regular.woff2') format('woff2'),
        url('Cherish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

