{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <p>Hola,</p>
    <p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
         <!--- <p><a href="http://127.0.0.1:8000/api/user/set-password/?token=" + str(token)>Restablecer Contraseña</a></p>
        <p>  <a href="{{ serializer.reset_url }}">Restablecer contraseña</a></p>--->
         <a href="{{ reset_url }}">Restablecer Contraseña</a>

    <p>Si no solicitaste un restablecimiento de contraseña, puedes ignorar este correo electrónico.</p>
</body>
</html>
