{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Solicitar Restablecimiento de Nueva Contraseña</title>

       <style>
        .restablecer-contrasena{
            width: 70%;
            display: flex; 
            flex-direction: column; 
            margin: auto;
            justify-content: center;
            align-items: center;
          
        };
        h1 {font-size:14px; align-self: center;}

        .form-restablecer{
            margin-top: 12px;
        }
        .boton-restablecer{
            margin-top: 10px;
        }
        </style>
</head>
<body>
    <div class="restablecer-contrasena">
    <h1>Solicitar Restablecimiento de Nueva Contraseña</h1>
    <form method="post" action="" class="form-restablecer">
        {% csrf_token %}
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
        <input type="hidden" name="redirect_url" value="http://localhost:5173/blog">
        <br>
        <button type="submit" class="boton-restablecer">Enviar</button>
    </form>

    <div>
        
    </div>
</div>

</body>
</html>
