{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Nueva Contraseña</title>

    <style>
        .nueva-contrasena{
            width: 70%;
            display: flex; 
            flex-direction: column; 
            margin: auto;
            justify-content: center;
            align-items: center;
          
        };
        h1 {font-size:14px; align-self: center;}

     
        </style>



</head>
<body>

    <div class="nueva-contrasena">
    <h1>Restablecer Nueva Contraseña</h1>
    <form method="POST" action=""> <!-- Asegúrate de configurar la acción (action) correctamente -->
        {% csrf_token %} <!-- Agrega el token CSRF para proteger el formulario -->
        <input type="hidden" name="token" value="{{ token }}">
        <!--<label for="token">Token:</label>
        <input type="text" id="token" name="token" required>--->
        <br>
        <label for="new_password">Nueva Contraseña:</label>
        <input type="new_password" id="new_password" name="new_password" required>
        <br>
        <br>
        <label for="confirm_password">Confirmar Nueva Contraseña:</label>
        <input type="confirm_password" id="confirm_password" name="confirm_password" required>
        <input type="hidden" name="redirect_url" value="http://localhost:5173/blog">
        <br>
        <br>
        <input type="submit" value="Restablecer Contraseña">
    </form>

</div>
</body>
</html>
